@use '../../styles/colors';
@use '../../styles/mixins';

$medium_size: 4em;

:host {
  @include mixins.generate-size-variables($medium_size);
  --border-width: max(1px, calc(var(--size, var(--size-md)) * 0.04));
  container-type: inline-size;
  display: inline-flex;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);

  line-height: 0;
}

::ng-deep {
  .badge, [ngProjectAs="badge"] {
    --status-size: 30cqmin;
    aspect-ratio: 1;
    background: var(--status-color, #{colors.$offline});
    bottom: 0;
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color, white);
    height: var(--status-size);
    position: absolute;
    width: var(--status-size);
    right: 0;
  }
}


:host(.online) {
  --status-color: #{colors.$online};
}

:host(.busy) {
  --status-color: #{colors.$busy};
}

:host(.away) {
  --status-color: #{colors.$away};
}
