@use '../../styles/colors';
@use '../../styles/mixins';

$medium-size: 4em;

:host {
  @include mixins.generate-size-variables($medium-size);

  container-type: inline-size;
  display: inline-flex;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);
  line-height: 0;

  .badge, ::ng-deep [ngProjectAs="badge"] {
    aspect-ratio: 1;
    background: var(--status-color, #{colors.$status-offline});
    bottom: 0;
    border-radius: 50%;
    height: var(--badge-size);
    position: absolute;
    width: var(--badge-size);
    right: 0;
  }
}

:host(.overlay) {
  --badge-size: 30cqmin;
}

:host(.notch) {
  --badge-size: 22.8cqmin;

  .badge, ::ng-deep [ngProjectAs="badge"] {
    transform: translate(-16%, -16%);
  }

  ::ng-deep {
    .avatar {
      --notch-size: 14.6cqmin;
      --notch-position: 85%;
      --smooth-edge: 0.5%;

      mask: radial-gradient(
          circle at var(--notch-position) var(--notch-position),
          transparent var(--notch-size),
          black calc(var(--notch-size) + var(--smooth-edge))
      );
    }
  }
}

:host(.away) {
  --status-color: #{colors.$status-away};
  --border-color: #{colors.$status-away};
}

:host(.busy) {
  --status-color: #{colors.$status-busy};
  --border-color: #{colors.$status-busy};
}

:host(.focus) {
  --status-color: #{colors.$status-focus};
  --border-color: #{colors.$status-focus};
}

:host(.online) {
  --status-color: #{colors.$status-online};
  --border-color: #{colors.$status-online};
}

:host(.reachable) {
  --status-color: transparent;
  --border-color: transparent;

  .badge {
    border: max(1px, calc(var(--size, var(--size-md)) * 0.04)) solid #{colors.$status-online};
  }
}
