@use '../../styles/colors';
@use '../../styles/mixins';

$medium-size: 4em;

:host {
  @include mixins.generate-size-variables($medium-size);

  container-type: inline-size;
  display: inline-flex;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);
  line-height: 0;

  .badge, ::ng-deep [ngProjectAs="badge"] {
    aspect-ratio: 1;
    background: var(--avatar-badge-color, #{colors.$status-offline});
    bottom: 0;
    border-radius: 50%;
    height: var(--avatar-badge-size);
    position: absolute;
    width: var(--avatar-badge-size);
    right: 0;
  }
}

:host(.overlay) {
  --avatar-badge-size: 30cqmin;
}

:host(.notch) {
  --avatar-badge-size: 22.8cqmin;

  .badge, ::ng-deep [ngProjectAs="badge"] {
    transform: translate(-16%, -16%);
    z-index: 1;
  }

  ::ng-deep {
    .avatar {
      $notch-size: 15cqmin;
      $notch-position: 100cqmin - $notch-size;
      $smooth-edge: 0.5%;

      mask: radial-gradient(
          circle at $notch-position $notch-position,
          transparent $notch-size,
          black calc(#{$notch-size} + #{$smooth-edge})
      );
    }
  }
}

:host(.away) {
  --avatar-badge-color: #{colors.$status-away};
  --avatar-border-color: #{colors.$status-away};
}

:host(.busy) {
  --avatar-badge-color: #{colors.$status-busy};
  --avatar-border-color: #{colors.$status-busy};
}

:host(.focus) {
  --avatar-badge-color: #{colors.$status-focus};
  --avatar-border-color: #{colors.$status-focus};
}

:host(.online) {
  --avatar-badge-color: #{colors.$status-online};
  --avatar-border-color: #{colors.$status-online};
}

:host(.reachable) {
  --avatar-badge-color: transparent;
  --avatar-border-color: transparent;

  .badge {
    --avatar-border-width: max(3px, calc(var(--size, var(--size-md)) * 0.04));

    border: var(--avatar-border-width) solid #{colors.$status-online};
  }
}
