@use '../../styles/colors';
@use '../../styles/mixins';

$medium-size: 4em;

:host {
  @include mixins.generate-size-variables($medium-size);

  --border-width: max(1px, calc(var(--size, var(--size-md)) * 0.04));
  --status-size: 30cqmin;

  container-type: inline-size;
  display: inline-flex;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);
  line-height: 0;
}

::ng-deep {
  .badge, [ngProjectAs="badge"] {
    aspect-ratio: 1;
    background: var(--status-color, #{colors.$status-offline});
    bottom: 0;
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color, var(--status-color));
    height: var(--status-size);
    position: absolute;
    width: var(--status-size);
    right: 0;
  }

}

:host(.online) {
  --border-color: #{colors.$status-online};
  --status-color: #{colors.$status-online};
}

:host(.focus) {
  --border-color: #{colors.$status-focus};
  --status-color: #{colors.$status-focus};
}

:host(.busy) {
  --border-color: #{colors.$status-busy};
  --status-color: #{colors.$status-busy};
}

:host(.away) {
  --border-color: #{colors.$status-away};
  --status-color: #{colors.$status-away};
}

:host(.subtract) {
  ::ng-deep {
    .badge, [ngProjectAs="badge"] {
      --border-color: white;
    }
  }
}
