:host {
  --avatar-group-wrap: nowrap;
  --baseline-availability-gap: 10px;

  display: inline-flex;
  gap: var(--baseline-availability-gap);
}

:host ::ng-deep {
  .avatar, img {
    border-radius: unset
  }
}

:host ::ng-deep .avatar img {
  object-fit: contain;
}

.group {
  align-items: center;
  border-radius: 35px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 15px;
  row-gap: var(--baseline-availability-gap);

  &.supported {
    background: #d7eddf;
  }

  &.unsupported {
    // background: hsl(210deg, 6%, 86%);
    background: hsl(34.36deg 100% 87.6%);
  }
}
