@if(groups().supported.length){
  <div class="supported group">
    @for (browser of groups().supported; track browser) {
      <lib-avatar-group layering="first_on_top" density="loose" [size]="size()">
        <lib-avatar style='--background-color: transparent' [image_url]="browser_image_urls[browser]"/>
        <lib-avatar style='--background-color: transparent' [image_url]="image_url_supported"/>
      </lib-avatar-group>
    }
  </div>
}
@if(groups().unsupported.length){
  <div class="unsupported group">
    @for (browser of groups().unsupported; track browser) {
      <lib-avatar-group layering="first_on_top" density="loose" [size]="size()">
        <lib-avatar style='--background-color: transparent' [image_url]="browser_image_urls[browser]"/>
        <lib-avatar style='--background-color: transparent' [image_url]="image_url_unsupported"/>
      </lib-avatar-group>
    }
  </div>
}
