# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Vitest
projects/component-library/coverage

# Cypress
cypress/screenshots

# Vitest
projects/component-library/coverage

# Storybook - https://storybook.js.org/docs/angular/sharing/publish-storybook#versioning-storybook
/storybook-static
*.storybook.log
projects/component-library/documentation.json
projects/component-library/src/stories/assets/
projects/component-library/src/stories/Configure.mdx
projects/component-library/src/stories/button.component.ts
projects/component-library/src/stories/button.css
projects/component-library/src/stories/button.stories.ts
projects/component-library/src/stories/header.component.ts
projects/component-library/src/stories/header.css
projects/component-library/src/stories/header.stories.ts
projects/component-library/src/stories/page.component.ts
projects/component-library/src/stories/page.css
projects/component-library/src/stories/page.stories.ts
projects/component-library/src/stories/user.ts
