@use '../../styles/mixins';
@use '../../styles/colors';

$medium_size: 4em;

:host {
  @include mixins.generate-size-variables($medium_size);
  --border-width: max(1px, calc(var(--size, var(--size-md)) * 0.04));
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--background-color, #{colors.$silvery_white});
  border-radius: 50%;
  border-width: var(--border-width);
  border-style: var(--border-style, none);
  border-color: var(--border-color, rgb(0 0 0 / 10%));
  color:rgb(0 0 0 / 50%);
  container-type: inline-size;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);
  user-select: none;
}

.text {
  font-size: 40cqmin;
  line-height: 1;
}

img, svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
