@use '../../styles/mixins';
@use '../../styles/colors';

$medium-size: 4em;

:host {
  @include mixins.generate-size-variables($medium-size);

  --avatar-border-width: max(3px, calc(var(--size, var(--size-md)) * 0.04));

  align-items: center;
  aspect-ratio: 1;
  background-color: var(--avatar-background-color, #{colors.$silvery-white});
  border-color: var(--avatar-border-color, rgb(0 0 0 / 10%));
  border-radius: var(--avatar-border-radius, 50%);
  border-style: var(--avatar-border-style, none);
  border-width: var(--avatar-border-width);
  color:rgb(0 0 0 / 50%);
  container-type: inline-size;
  display: inline-flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: min(var(--size, var(--size-md)), 100cqmin);
}

.text {
  font-size: 40cqmin;
  line-height: 1;
}

img, ::ng-deep [ngProjectAs="image"] {
  border-radius: inherit;
  height: 100%;
  object-fit: var(--avatar-image-object-fit, cover);
  width: 100%;
}
