:host {
  --size-md: 200px;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--background-color, rgb(227,227,227));
  border-radius: 50%;
  border: 3px solid;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  //width: min(var(--size, var(--size-md)), 100cqmin);
  width: min(200px, 100cqmin);
  user-select: none;

  // TODO: use globals here
  font-family: sans-serif;
  box-sizing: border-box; // TODO: use global
}

.text {
  font-size: clamp(1rem, 40cqmin, 5rem);
  font-weight: bold;
  line-height: 1;
}


img, svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
