@use '../../styles/mixins';
@use '../../styles/colors';

$medium_size: 4em;

:host {
  @include mixins.generate-size-variables($medium_size);
  --border-width: max(2px, calc(var(--size, var(--size-md)) * 0.04));
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--background-color, #{colors.$silvery_white});
  border-radius: 50%;
  border-width: var(--border-width);
  border-style: var(--border-style, none);
  //color: light-dark(#{colors.$off_white}, #{colors.$matte_black});
  color: oklch(0.28 0.03 256.85 / 0.66);
  container-type: inline-size;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: min(var(--size, var(--size-md)), 100cqmin);
  user-select: none;
}

.text {
  font-size: 40cqmin;
  line-height: 1;
}

.status {
  --status-size: 25cqmin;
  aspect-ratio: 1;
  background: var(--status-color, #{colors.$offline});
  border-radius: 50%;
  border-width: var(--border-width);
  border-style: var(--border-style, none);;
  bottom: 0;
  position: absolute;
  right: 0;
  width: var(--status-size);

  &.away {
    --status-color: #{colors.$away};
  }

  &.busy {
    --status-color: #{colors.$busy};
  }

  &.online {
    --status-color: #{colors.$online};
  }
}

img, svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
