:host {
  display: var(--flex-style, flex);
  flex-direction: var(--direction, row);
  gap: var(--gap, 0);
  align-items: var(--align-items, stretch);
  align-content: var(--align-content, 'stretch');
  justify-content: var(--justify-content, flex-start);
  flex-wrap: wrap;
  width: 100%;
}
