$egg_white: '#FFEFC1';
$easter_red: '#C92519';
$lucky_orange: '#FF9B49';
$matte_black: '#28282B';
$off_white: '#FFFAFA';
$spearmint: '#38a06c';
$spring_red: '#BE1F35';
$silvery_white: '#e3e3e3';
$snow: '#FFFAFA';

$busy: $spring_red;
$busy: $easter_red;
$away: $lucky_orange;
$online: $spearmint;
$offline: $silvery_white;
