$blue-fire: '#006dea';
$egg-white: '#FFEFC1';
$easter-red: '#C92519';
$lucky-orange: '#FF9B49';
$matte-black: '#28282B';
$off-white: '#FFFAFA';
$spearmint: '#38a06c';
$spring-red: '#BE1F35';
$silvery-white: '#e3e3e3';
$snow: '#FFFAFA';
$sail: '#B9DDF5';
$status-away: $lucky-orange;
$status-busy: $spring-red;
$status-busy: $easter-red;
$status-focus: $blue-fire;
$status-offline: $silvery-white;
$status-online: $spearmint;
