$egg-white: '#FFEFC1';
$easter-red: '#C92519';
$lucky-orange: '#FF9B49';
$matte-black: '#28282B';
$off-white: '#FFFAFA';
$spearmint: '#38a06c';
$spring-red: '#BE1F35';
$silvery-white: '#e3e3e3';
$snow: '#FFFAFA';
$busy: $spring-red;
$busy: $easter-red;
$away: $lucky-orange;
$online: $spearmint;
$offline: $silvery-white;
