@use "sass:math";

/// Generate tailwind css variables from a given medium size
///
/// @access public
/// @param {Number} $medium-size     - The size to use for the medium css size variable
/// @output Generates tailwind css variables from a given medium size
/// @example scss
///   @use 'styles/mixins';
///   .element {
///     @include mixins.generate-size-variables(200px);
///   }
@mixin generate-size-variables($medium-size) {
  --size-7xs: #{$medium-size * math.div(8, 28)};
  --size-6xs: #{$medium-size * math.div(10, 28)};
  --size-5xs: #{$medium-size * math.div(12, 28)};
  --size-4xs: #{$medium-size * math.div(14, 28)};
  --size-3xs: #{$medium-size * math.div(16, 28)};
  --size-2xs: #{$medium-size * math.div(18, 28)};
  --size-xs: #{$medium-size * math.div(20, 28)};
  --size-sm: #{$medium-size * math.div(24, 28)};
  --size-md: #{$medium-size * math.div(28, 28)};
  --size-lg: #{$medium-size * math.div(32, 28)};
  --size-xl: #{$medium-size * math.div(36, 28)};
  --size-2xl: #{$medium-size * math.div(42, 28)};
  --size-3xl: #{$medium-size * math.div(48, 28)};
  --size-4xl: #{$medium-size * math.div(56, 28)};
  --size-5xl: #{$medium-size * math.div(64, 28)};
  --size-6xl: #{$medium-size * math.div(72, 28)};
  --size-7xl: #{$medium-size * math.div(80, 28)};
}
