:host {
  display: inline-flex;
  flex-wrap: var(--avatar-group-wrap, wrap);
  vertical-align: middle;
}

:host(.compact) ::ng-deep .avatar:not(:last-child) {
  margin-right: var(--avatar-group-overlap, calc(var(--size, var(--size-md)) * -0.45));
}

:host(.loose) ::ng-deep .avatar:not(:last-child) {
  margin-right: var(--avatar-group-overlap, calc(var(--size, var(--size-md)) * -0.2));
}
