:host {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;

  ::ng-deep .avatar {
    &.collapsed {
      display: none;
    }
  }

  &.compact ::ng-deep .avatar:not(:last-child) {
    margin-right: var(--overlap, calc(var(--size, var(--size-md)) * -0.45));
  }

  &.loose ::ng-deep .avatar:not(:last-child) {
    margin-right: var(--overlap, calc(var(--size, var(--size-md)) * -0.2));
  }
}
