:host {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;

  ::ng-deep .avatar {
    &.collapsed {
      display: none;
    }
  }
}

:host(.compact) ::ng-deep .avatar:not(:last-child) {
  margin-right: var(--overlap, calc(var(--size, var(--size-md)) * -0.45));
}

:host(.loose) ::ng-deep .avatar:not(:last-child) {
  margin-right: var(--overlap, calc(var(--size, var(--size-md)) * -0.2));
}
