:host {
  align-items: center;
  color: black;
  display: inline-flex;
  font-size: 0.9em;
  gap: 8px;
}

.text-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(0 0 0 / 80%);
  font-size: 0.8em;
}
