:host {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: 0.9em;
}

.text-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  font-size: 0.8em;
  color: rgba(0 0 0 /0.8);
}
