name: Pull Request Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  review_dog:
    name: ReviewDog
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          eslint_flags: '.'
          fail_level: 'any'

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npm run build:component-library

  build_storybook:
    name: Build Storybook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npm run build:component-library:storybook

  cypress_tests:
    name: Cypress Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npm run test:cypress:component
      - name: Upload Cypress screenshots
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore

  angular_tests:
    name: Angular Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npx playwright install
      - run: npm run test:component-library:ci
#      - name: Code Coverage Summary Report
#        uses: irongut/CodeCoverageSummary@v1.3.0
#        with:
#          filename: projects/component-library/coverage/clover.xml
#          badge: true
#          fail_below_min: true # Match your Vitest thresholds!
#          format: markdown
#          output: both
